In [86]:
import pandas as pd
import numpy as np

In [87]:
imdb_title_basics_df = pd.read_csv('./zippedData/imdb.title.basics.csv')

In [88]:
print(imdb_title_basics_df.info())

#original_title, runtime_minutes, genres has missing Nan values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   tconst           146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB
None

In [89]:
print(imdb_title_basics_df.dtypes)

tconst              object
primary_title       object
original_title      object
start_year           int64
runtime_minutes    float64
genres              object
dtype: object

In [90]:
print(imdb_title_basics_df.columns)

Index(['tconst', 'primary_title', 'original_title', 'start_year',
       'runtime_minutes', 'genres'],
      dtype='object')

In [91]:
print(imdb_title_basics_df.shape)

(146144, 6)

In [92]:
print(type(imdb_title_basics_df))

<class 'pandas.core.frame.DataFrame'>

In [93]:
imdb_title_basics_df.head()

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [94]:
#checking for duplicates
imdb_title_basics_df[imdb_title_basics_df.duplicated(keep=False)].sort_values(by= 'primary_title')

duplicates = imdb_title_basics_df[imdb_title_basics_df.duplicated()]
print(len(duplicates))
duplicates.head()

#no duplicates, also checked with all column names

0

Empty DataFrame
Columns: [tconst, primary_title, original_title, start_year, runtime_minutes, genres]
Index: []

In [95]:
#checking for missing data
imdb_title_basics_df.isna().any()

tconst             False
primary_title      False
original_title      True
start_year         False
runtime_minutes     True
genres              True
dtype: bool

In [96]:
#checking which how many Nan values are in each column
imdb_title_basics_df.isna().sum()
#original_title, runtime_minutes, genres has missing Nan values

tconst                 0
primary_title          0
original_title        21
start_year             0
runtime_minutes    31739
genres              5408
dtype: int64

In [97]:
#checking for extraneous values
for col in imdb_title_basics_df.columns:
    print(col, '\n', imdb_title_basics_df[col].value_counts(normalize=True).head(), '\n\n')
#no extraneous values

tconst
 tt3539342    0.000007
tt1743985    0.000007
tt1927158    0.000007
tt4299920    0.000007
tt4322008    0.000007
Name: tconst, dtype: float64


primary_title
 Home          0.000164
Broken        0.000137
The Return    0.000137
Alone         0.000109
Homecoming    0.000109
Name: primary_title, dtype: float64


original_title
 Broken        0.000130
Home          0.000123
The Return    0.000116
Homecoming    0.000089
Alone         0.000089
Name: original_title, dtype: float64


start_year
 2017    0.119772
2016    0.118185
2018    0.115290
2015    0.111144
2014    0.106669
Name: start_year, dtype: float64


runtime_minutes
 90.0     0.062331
80.0     0.030820
85.0     0.025480
100.0    0.023268
95.0     0.022280
Name: runtime_minutes, dtype: float64


genres
 Documentary     0.228691
Drama           0.152669
Comedy          0.065207
Horror          0.031065
Comedy,Drama    0.025004
Name: genres, dtype: float64

In [98]:
#removing nan values from original title and genres column
imdb_title_basics_df = imdb_title_basics_df.dropna(subset=['original_title', 'genres'])

In [100]:
imdb_title_basics_df.isna().sum()

tconst                    0
Primary title             0
Original title            0
Start year                0
Runtime in minutes    28502
Genres                    0
dtype: int64

In [101]:
#renaming columns
imdb_title_basics_df = imdb_title_basics_df.rename(columns={'primary_title' : 'Primary title', 'original_title' : 'Original title', 'start_year': 'Start year', 'runtime_minutes': 'Runtime in minutes', 'genres': 'Genres'} )
imdb_title_basics_df.head()

,tconst,Primary title,Original title,Start year,Runtime in minutes,Genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"

In [104]:
imdb_title_basics_df.isna().sum()

tconst                    0
Primary title             0
Original title            0
Start year                0
Runtime in minutes    28502
Genres                    0
dtype: int64

In [102]:
imdb_title_basics_df.to_csv('cleaned.imdb.title.basics.csv')

# saving file in the folder above (the repo home folder)
# imdb_title_basics_df.to_csv("../cleaned.imdb.title.basics.csv")

In [103]:
imdb_title_basics_df

,tconst,Primary title,Original title,Start year,Runtime in minutes,Genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146138,tt9916428,The Secret of China,The Secret of China,2019,NaN,"Adventure,History,War"
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [105]:
imdb_title_basics_df.isna().sum()

tconst                    0
Primary title             0
Original title            0
Start year                0
Runtime in minutes    28502
Genres                    0
dtype: int64